node-red/.flows.json.backup
[{"id":"67a9d16535eb5ae8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"4cb70764.d137e8","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"5747a72c39655606","type":"tab","label":"Flow 2","disabled":true,"info":"","env":[]},{"id":"217cf5ca.19376a","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"38da9de2f9fb32d3","type":"server-state-changed","z":"67a9d16535eb5ae8","name":"Lounge Motion Detected","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lounge_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":540,"wires":[["6794492b59f841f8"],[]]},{"id":"6794492b59f841f8","type":"api-current-state","z":"67a9d16535eb5ae8","name":"Is Motion State","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Idle, Motion","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.lounge_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":540,"wires":[["788917e601f2592f"],[]]},{"id":"eafe9c092b04b0f4","type":"stoptimer","z":"67a9d16535eb5ae8","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"Lounge Motion Timer","x":240,"y":740,"wires":[["171939cf70672446","bd167f4ab660df6d","e654be403b4e18bf"],[]]},{"id":"bd9a7e355be27bd3","type":"link out","z":"67a9d16535eb5ae8","name":"Trigger Timer","links":["c67a5a2a15a56920","f083f236af60c7bf"],"x":775,"y":560,"wires":[]},{"id":"f083f236af60c7bf","type":"link in","z":"67a9d16535eb5ae8","name":"Trigger Off Timer","links":["bd9a7e355be27bd3","6220c30deec3b83b"],"x":75,"y":740,"wires":[["eafe9c092b04b0f4"]]},{"id":"171939cf70672446","type":"api-call-service","z":"67a9d16535eb5ae8","name":"Lounge State Idle","server":"217cf5ca.19376a","version":3,"debugenabled":true,"service_domain":"input_select","service":"select_option","entityId":"input_select.lounge_state","data":"{\"option\":\"Idle\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":710,"y":720,"wires":[[]]},{"id":"c67a5a2a15a56920","type":"link in","z":"67a9d16535eb5ae8","name":"Trigger On","links":["bd9a7e355be27bd3"],"x":75,"y":880,"wires":[["bd167f4ab660df6d","74ea4e505429a2d7"]]},{"id":"615946b7c755e9a1","type":"api-call-service","z":"67a9d16535eb5ae8","name":"Lounge Light On","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lounge","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":820,"wires":[[]]},{"id":"bd167f4ab660df6d","type":"debug","z":"67a9d16535eb5ae8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":780,"wires":[]},{"id":"74ea4e505429a2d7","type":"api-current-state","z":"67a9d16535eb5ae8","name":"Is Sunset","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":880,"wires":[["bd167f4ab660df6d","98cdd7339536aeaf"],[]]},{"id":"e654be403b4e18bf","type":"api-call-service","z":"67a9d16535eb5ae8","name":"Lounge Light Off","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lounge","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":660,"wires":[[]]},{"id":"bd1e9b7ecf13b4c3","type":"api-call-service","z":"67a9d16535eb5ae8","name":"Lounge State Motion","server":"217cf5ca.19376a","version":3,"debugenabled":true,"service_domain":"input_select","service":"select_option","entityId":"input_select.lounge_state","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":720,"y":880,"wires":[[]]},{"id":"e6a2882c85b3f541","type":"server-state-changed","z":"67a9d16535eb5ae8","name":"In Bed","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.in_bed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":100,"wires":[["1250829c0d6353ab"],["c0427681db126c92"]]},{"id":"788917e601f2592f","type":"timecheck","z":"67a9d16535eb5ae8","name":"Is it past 8pm","time":"20:00","x":630,"y":540,"wires":[[],["bd9a7e355be27bd3"]]},{"id":"1250829c0d6353ab","type":"api-call-service","z":"67a9d16535eb5ae8","name":"Lounge State Locked","server":"217cf5ca.19376a","version":3,"debugenabled":true,"service_domain":"input_select","service":"select_option","entityId":"input_select.lounge_state","data":"{\"option\":\"Locked\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":560,"y":40,"wires":[[]]},{"id":"c0427681db126c92","type":"api-call-service","z":"67a9d16535eb5ae8","name":"Lounge State Idle","server":"217cf5ca.19376a","version":3,"debugenabled":true,"service_domain":"input_select","service":"select_option","entityId":"input_select.lounge_state","data":"{\"option\":\"Idle\"}","dataType":"json","mergecontext":"","mustacheAltTags":true,"outputProperties":[],"queue":"none","x":550,"y":120,"wires":[[]]},{"id":"98cdd7339536aeaf","type":"api-current-state","z":"67a9d16535eb5ae8","name":"Lounge Presence","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Someone, Claire, Andy, Andy + Claire ","halt_if_type":"str","halt_if_compare":"includes","entity_id":"input_select.lounge_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":880,"wires":[["615946b7c755e9a1","bd1e9b7ecf13b4c3"],["6220c30deec3b83b"]]},{"id":"6220c30deec3b83b","type":"link out","z":"67a9d16535eb5ae8","name":"Trigger Timer","links":["f083f236af60c7bf"],"x":635,"y":940,"wires":[]},{"id":"72dec3cf1c85ab3b","type":"ha-get-entities","z":"67a9d16535eb5ae8","name":"Is Lamp On","server":"217cf5ca.19376a","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"light.lounge_corner_lamp,light.lounge_floor_lamp","valueType":"str"},{"property":"state","logic":"is","value":"on","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":150,"y":160,"wires":[[]]},{"id":"cdabb9fd153732e2","type":"server-state-changed","z":"67a9d16535eb5ae8","name":"Is it dark?","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.weather_station_ambient_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"40","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"3","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":260,"wires":[[],[]]},{"id":"47f0337b.bf4a1c","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Bedroom Presence","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.bedroom_presence","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":290,"y":240,"wires":[[]]},{"id":"94a826a2.864ed8","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Lounge Presence","server":"217cf5ca.19376a","version":3,"debugenabled":true,"service_domain":"input_select","service":"select_option","entityId":"input_select.lounge_presence","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":280,"y":280,"wires":[["a9e7482b7d508ee2"]]},{"id":"c6c64a2b.75a6a8","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Kitchen Presence","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.kitchen_presence","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":280,"y":360,"wires":[[]]},{"id":"3c15a2dd.bbb8fe","type":"api-call-service","z":"4cb70764.d137e8","name":"Set House Presence","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.house_presence","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":280,"y":200,"wires":[[]]},{"id":"ab2554a4.425d08","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Claire Location","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.claire_location","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":670,"y":200,"wires":[[]]},{"id":"baa2825b.69dca","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Andy Location","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.andy_location","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":670,"y":240,"wires":[[]]},{"id":"dd187599.623e98","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Person Location","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":680,"y":280,"wires":[[]]},{"id":"a2dbfbe4.3aed08","type":"link in","z":"4cb70764.d137e8","name":"Set House Presence","links":["2b5b0e7a.bba302","31ba3f02.64339","8beb9e18.166a3"],"x":135,"y":200,"wires":[["3c15a2dd.bbb8fe"]]},{"id":"10a4c1c.ab5cf3e","type":"link in","z":"4cb70764.d137e8","name":"Set Lounge Presence","links":["174bb3be.61bf3c","4b81d4a0.c7368c","56552240.11affc","f4c6f48e.0105a8"],"x":135,"y":280,"wires":[["94a826a2.864ed8"]]},{"id":"e3687c81.8fcca","type":"link in","z":"4cb70764.d137e8","name":"Set Bedroom Presence","links":["762545d5.94270c","8a3a253c.e62288","9e4bad54.76f89","60a292a2.a604fc"],"x":135,"y":240,"wires":[["47f0337b.bf4a1c"]]},{"id":"1c1603fd.cc6ecc","type":"link in","z":"4cb70764.d137e8","name":"Set Kitchen Presence","links":["a72e7d8c.da481","9e53d751.aaa578","b495f7b1.ea9d28"],"x":135,"y":360,"wires":[["c6c64a2b.75a6a8"]]},{"id":"6e8ae924.7b48d8","type":"link in","z":"4cb70764.d137e8","name":"Set Claire Location","links":["fdd305cc.1fbb38","7c39ff5a.e9255"],"x":535,"y":200,"wires":[["ab2554a4.425d08"]]},{"id":"b85f0795.cf4928","type":"link in","z":"4cb70764.d137e8","name":"Set Andy Location","links":["7ba87b35.c25054","bccb54cf.fcabb8"],"x":535,"y":240,"wires":[["baa2825b.69dca"]]},{"id":"fd252457.e41e18","type":"link in","z":"4cb70764.d137e8","name":"Set Person Location","links":["dbbc59b.8460ea8","59b500cc.29b7b"],"x":535,"y":280,"wires":[["dd187599.623e98"]]},{"id":"a4b2cbfc.eb5288","type":"trigger-state","z":"4cb70764.d137e8","name":"Startup","server":"217cf5ca.19376a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.uptime_hours","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"bcwmp09vmlo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"0.05"},{"id":"hd6y2obe0a","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"0.05"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":100,"y":80,"wires":[["d65ddba8.4b6fb8"],[]]},{"id":"12ec67c4.488cf8","type":"link in","z":"4cb70764.d137e8","name":"Startup IN","links":["b498cf4.23e743"],"x":135,"y":580,"wires":[["83758e02.495f8"]]},{"id":"917fc2a6.9718f","type":"comment","z":"4cb70764.d137e8","name":"1.1 - At Startup, Set Claire/Andy to Home/Away","info":"Triggered whenever HomeAssistant starts (uptime reaches a certain value).\n\nIt checks the Home/Away status for everyone and sets their input_select.*person*_location entities.","x":200,"y":520,"wires":[]},{"id":"83758e02.495f8","type":"delay","z":"4cb70764.d137e8","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":230,"y":580,"wires":[["744ce665.f25438","649a7c77.e4ef14"]]},{"id":"744ce665.f25438","type":"function","z":"4cb70764.d137e8","name":"Claire Home/Away?","func":"//code modified from: https://community.home-assistant.io/t/examples-for-using-the-new-get-entities-node/85777/4\nconst globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst claire_home_or_away = ha.states[\"person.claire\"].state;\nconst claire_location = ha.states[\"input_select.claire_location\"].state;\n\nnewmsg = {};\n\nif(claire_location != \"Extended Away\"){\n    if(claire_home_or_away == \"home\"){\n        newmsg.payload =  { data: { \"option\": \"Home\"} };   \n    }\n    else{\n        newmsg.payload =  { data: { \"option\": \"Away\"} };   \n    }\n    return newmsg;\n}\n\n//This flow returns an option to set a person's input_select.claire_location to.\n//It only returns a value if it is not already set to extended away\n//If not extended away, it will return home when the person.claire is home or\n//away if it is away.\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":560,"wires":[["fdd305cc.1fbb38"]]},{"id":"b498cf4.23e743","type":"link out","z":"4cb70764.d137e8","name":"Startup","links":["12ec67c4.488cf8","e63f8431.b73da8"],"x":295,"y":80,"wires":[]},{"id":"fdd305cc.1fbb38","type":"link out","z":"4cb70764.d137e8","name":"","links":["6e8ae924.7b48d8"],"x":515,"y":560,"wires":[]},{"id":"3eaaae0d.ff9d32","type":"comment","z":"4cb70764.d137e8","name":"+ Extra People","info":"","x":380,"y":640,"wires":[]},{"id":"649a7c77.e4ef14","type":"function","z":"4cb70764.d137e8","name":"Andy Home/Away?","func":"//code modified from: https://community.home-assistant.io/t/examples-for-using-the-new-get-entities-node/85777/4\nconst globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst andy_home_or_away = ha.states[\"person.andy\"].state;\nconst andy_location = ha.states[\"input_select.andy_location\"].state;\n\nnewmsg = {};\n\nif(andy_location != \"Extended Away\"){\n    if(andy_home_or_away == \"home\"){\n        newmsg.payload =  { data: { \"option\": \"Home\"} };   \n    }\n    else{\n        newmsg.payload =  { data: { \"option\": \"Away\"} };   \n    }\n    return newmsg;\n}\n\n//This flow returns an option to set a person's input_select.andy_location to.\n//It only returns a value if it is not already set to extended away\n//If not extended away, it will return home when the person.andy is home or\n//away if it is away.\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":600,"wires":[["7ba87b35.c25054"]]},{"id":"7ba87b35.c25054","type":"link out","z":"4cb70764.d137e8","name":"","links":["b85f0795.cf4928"],"x":515,"y":600,"wires":[]},{"id":"8f1e0cd2.b21b7","type":"switch","z":"4cb70764.d137e8","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":420,"y":880,"wires":[["fd89c167.7e8f2","68966c34.9a9b74","22c8cf70.8b888"],["275770da.ec95d","c09a918a.49bf6"]]},{"id":"fd89c167.7e8f2","type":"trigger","z":"4cb70764.d137e8","name":"1m","duration":"1","extend":false,"units":"min","reset":"home","bytopic":"topic","topic":"topic","outputs":1,"x":830,"y":900,"wires":[["34073b7c.2da564"]]},{"id":"68966c34.9a9b74","type":"trigger","z":"4cb70764.d137e8","name":"24hr","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","topic":"topic","outputs":1,"x":1070,"y":880,"wires":[["2d8075ba.fd47aa"]]},{"id":"22c8cf70.8b888","type":"api-current-state","z":"4cb70764.d137e8","name":"Status?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":560,"y":840,"wires":[["56fffc9f.9a7d24"],["63fff231.9c8d7c"]]},{"id":"275770da.ec95d","type":"api-current-state","z":"4cb70764.d137e8","name":"Status?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"[\"Just Left\", \"Away\", \"Extended Away\"]","halt_if_type":"jsonata","halt_if_compare":"does_not_include","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":560,"y":920,"wires":[["c4925292.966ab"],[]]},{"id":"c09a918a.49bf6","type":"trigger","z":"4cb70764.d137e8","name":"1m","duration":"1","extend":false,"units":"min","reset":"not_home","bytopic":"topic","topic":"topic","outputs":1,"x":990,"y":820,"wires":[["63fff231.9c8d7c"]]},{"id":"4d25fb56.83ada4","type":"rbe","z":"4cb70764.d137e8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":325,"y":880,"wires":[["8f1e0cd2.b21b7"]],"l":false},{"id":"c4925292.966ab","type":"api-call-service","z":"4cb70764.d137e8","name":"Just Left","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":920,"wires":[["fd89c167.7e8f2"]]},{"id":"34073b7c.2da564","type":"api-call-service","z":"4cb70764.d137e8","name":"Away","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":900,"wires":[["68966c34.9a9b74"]]},{"id":"2d8075ba.fd47aa","type":"api-call-service","z":"4cb70764.d137e8","name":"Extended Away","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":880,"wires":[[]]},{"id":"56fffc9f.9a7d24","type":"api-current-state","z":"4cb70764.d137e8","name":"Status?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Bedroom, Lounge, Bathroom, Kitchen","halt_if_type":"str","halt_if_compare":"does_not_include","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":700,"y":800,"wires":[["f9721f98.eaa53"],[]]},{"id":"63fff231.9c8d7c","type":"api-call-service","z":"4cb70764.d137e8","name":"Home","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":840,"wires":[[]]},{"id":"f9721f98.eaa53","type":"api-call-service","z":"4cb70764.d137e8","name":"Just Arrived","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":800,"wires":[["c09a918a.49bf6"]]},{"id":"ae961a68.88df58","type":"change","z":"4cb70764.d137e8","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"claire","fromt":"str","to":"claire_location","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"andy","fromt":"str","to":"andy_location","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload = \"home\" ? \"home\" : \"not_home\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":275,"y":880,"wires":[["4d25fb56.83ada4"]],"l":false},{"id":"42b6162b.61b9e8","type":"trigger-state","z":"4cb70764.d137e8","name":"Person","server":"217cf5ca.19376a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":180,"y":880,"wires":[["ae961a68.88df58"],[]]},{"id":"b2b2aabd.72ef48","type":"comment","z":"4cb70764.d137e8","name":"1.2 - Set Claire/Andy.. Just Arrived/Home/Just Left/Away/Extended Away?","info":"https://bonani.tech/making-home-assistants-presence-detection-not-so-binary-node-red-version/\n\nThis flow is modified from the example at the link above. It sets people's input_select.*person*_location to either \"Just Arrived\", \"Home\", \"Just Left\", \"Away\" or \"Extended Away\".\n\nWith modifications to change node (2nd)\nPerson is removed and topic is set to claire_location and andy_location to match the input selects for their locations. Added extra status node with a comment too.","x":280,"y":720,"wires":[]},{"id":"336268b7.62c108","type":"comment","z":"4cb70764.d137e8","name":"Added Extra Status Node","info":"The Status? Node top left now filters to check that input_select.*person*_location is not in:\nJust Left,\nLounge,\nBedroom,\nBathroom,\nKitchen\n\nThese extra rooms ensure that Just Arrived is not set when the person has just arrived but BLE locations have already set a room. The second one is used so that the original function of setting location back to home when person.*person* goes to home while input_select.*person*_location is set to Just Left. ","x":750,"y":760,"wires":[]},{"id":"91822b0f.5c0e78","type":"api-current-state","z":"4cb70764.d137e8","name":"Claire Ext. Away?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Extended Away","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.claire_location","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":350,"y":1300,"wires":[["f9bd6772.16f928"],[]]},{"id":"f9bd6772.16f928","type":"function","z":"4cb70764.d137e8","name":"Extended Away","func":"newmsg = {};\nnewmsg.payload =  { data: { \"option\": \"Extended Away\"} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1280,"wires":[["31ba3f02.64339"]]},{"id":"1ad8d0e6.b4789f","type":"server-state-changed","z":"4cb70764.d137e8","name":"Andy to Ext. Away","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.andy_location","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Extended Away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1300,"wires":[["91822b0f.5c0e78"],[]]},{"id":"761a272b.89a7e8","type":"api-current-state","z":"4cb70764.d137e8","name":"Andy Ext. Away?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Extended Away","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.andy_location","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":350,"y":1260,"wires":[["f9bd6772.16f928"],[]]},{"id":"f3b4b3c0.81c59","type":"server-state-changed","z":"4cb70764.d137e8","name":"Claire to Ext. Away","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.claire_location","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"Extended Away","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1260,"wires":[["761a272b.89a7e8"],[]]},{"id":"31ba3f02.64339","type":"link out","z":"4cb70764.d137e8","name":"","links":["a2dbfbe4.3aed08"],"x":675,"y":1280,"wires":[]},{"id":"2fe57e28.994fe2","type":"comment","z":"4cb70764.d137e8","name":"1.4 - Set House Presence to \"Extended Away\" if everyone is \"Extended Away\"","info":"This flow is triggered by someones input_select.*person*_location going to \"Extended Away\".\n\nThen it checks if everyone else is \"Extended Away\" too. If so, input_select.house_presence is also set to \"Extended Away\"","x":310,"y":1200,"wires":[]},{"id":"992f67de.873138","type":"server-state-changed","z":"4cb70764.d137e8","name":"Claire to Home","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.claire","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1060,"wires":[["3fdd1097.9a64d"],["3fdd1097.9a64d"]]},{"id":"f1586625.db50f8","type":"server-state-changed","z":"4cb70764.d137e8","name":"Andy to Home","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.andy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1100,"wires":[["3fdd1097.9a64d"],["3fdd1097.9a64d"]]},{"id":"3fdd1097.9a64d","type":"api-current-state","z":"4cb70764.d137e8","name":"Continue?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automations_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":315,"y":1080,"wires":[["87c1e4bb.3ff988"],[]],"icon":"font-awesome/fa-question","l":false},{"id":"87c1e4bb.3ff988","type":"api-current-state","z":"4cb70764.d137e8","name":"Guests?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.guests","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":420,"y":1080,"wires":[["4d555bcc.18d884"],["22f9a936.a708b6"]]},{"id":"22f9a936.a708b6","type":"function","z":"4cb70764.d137e8","name":"Guests","func":"newmsg = {};\nnewmsg.payload =  { data: { \"option\": \"Guests\"} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1100,"wires":[["2b5b0e7a.bba302"]]},{"id":"8a1fb05e.c53ed","type":"trigger-state","z":"4cb70764.d137e8","name":"Guests?","server":"217cf5ca.19376a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.guests","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":420,"y":1120,"wires":[["22f9a936.a708b6"],[]]},{"id":"4d555bcc.18d884","type":"function","z":"4cb70764.d137e8","name":"Set House Pres.","func":"//code modified from: https://community.home-assistant.io/t/examples-for-using-the-new-get-entities-node/85777/4\nconst globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst groupEntity = ha.states['group.person_home_away'];\n\nlet occupants = [];\n\ngroupEntity.attributes.entity_id.forEach(i => {\n    if(ha.states[i].state === 'home') {\n        occupants.push(ha.states[i].attributes.friendly_name);\n        //The push bit adds the friendly name of any persons location input select which matches the state (ie home)\n        //In this case, the frienly_name of each person.*person* entity is simply that person's initials\n        //So this bit returns the initials of all people who are home.\n    }\n});\n\n//the join function creates '+' separated string from the array.\noccupants = occupants.join(' + ');\n\n//If no BLE occupation is detected but the motion sensor is on, set the room to Someone\n//Otherwise with no BLE or motion set to Empty        \nif (occupants === '') {\n    occupants = \"Empty\";\n}\n\nmsg.payload = { data: { \"option\": occupants} };\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1060,"wires":[["2b5b0e7a.bba302"]]},{"id":"2b5b0e7a.bba302","type":"link out","z":"4cb70764.d137e8","name":"","links":["a2dbfbe4.3aed08"],"x":695,"y":1080,"wires":[]},{"id":"d8861e41.5c914","type":"comment","z":"4cb70764.d137e8","name":"1.3 - Set House Presence","info":"Keep input_select.house_presence updated with current occupation. \n\nThe input \"events:state\" nodes can also be used to trigger home/away notifications/logging for people.","x":150,"y":1000,"wires":[]},{"id":"cd28945d.d487e8","type":"comment","z":"4cb70764.d137e8","name":"1 - HOME/AWAY PRESENCE","info":"","x":120,"y":460,"wires":[]},{"id":"f69bc648.c69128","type":"comment","z":"4cb70764.d137e8","name":"2 - GENERIC ROOM PRESENCE DETECTION","info":"Generic Room Presence adds an extra layer on top of House Presence. It relies just on motion sensors and can be modified to include other sorts of indications of room presence (TV/bed presence etc.).\n\nGeneric Room Presence can set a room to \"Someone\" if motion is detected.\n\nOnce motion is cleared, and the room presence is still \"Someone\", the room is set to \"Empty\" after a short delay.","x":180,"y":1420,"wires":[]},{"id":"e728149.8ef6de8","type":"server-state-changed","z":"4cb70764.d137e8","name":"Lounge Motion?","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lounge_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1720,"wires":[["c01abdb.896b44"],["3a4622e7.23d09e"]]},{"id":"ce8ad9d6.37f498","type":"server-state-changed","z":"4cb70764.d137e8","name":"Bedroom Motion?","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1600,"wires":[["a423cbf9.f121d8"],["4568a6ef.0c68b8"]]},{"id":"96639cad.a0e55","type":"comment","z":"4cb70764.d137e8","name":"2.1 - Motion/Other Presence Indicators","info":"Input triggers that start flows are listed at the top of this section and wired in to a link node so that it's easy to trace which section is prompted by what trigger.\n\nHere examples are given on how motion sensors or other presence detection like bed presence or even a humidity rise in the bathroom would update a room's input_select.*room*_presence to \"Someone\".\n\nOther triggers such as a TV turning on could also be added here. The key is to sepearate what suggests occupation and no occupation and wire them to the appropriate paths.","x":190,"y":1480,"wires":[]},{"id":"a423cbf9.f121d8","type":"link out","z":"4cb70764.d137e8","name":"Bedroom Motion","links":["24ce8072.21636","3eb9debc.bc3e82","956403e9.f7ebf"],"x":315,"y":1580,"wires":[]},{"id":"4568a6ef.0c68b8","type":"link out","z":"4cb70764.d137e8","name":"Bedroom Motion Cleared","links":["8afc3ce7.b5a0c","d20b8b75.a58e68"],"x":315,"y":1620,"wires":[]},{"id":"c01abdb.896b44","type":"link out","z":"4cb70764.d137e8","name":"Lounge Motion","links":["272101fc.06d30e","2e7101b2.3a72be","e2abdf2e.3d15d"],"x":315,"y":1700,"wires":[]},{"id":"3a4622e7.23d09e","type":"link out","z":"4cb70764.d137e8","name":"Lounge Motion Cleared","links":["4fd39568.02ef8c","9db72a58.bc21d8","e9b8aff7.2651f"],"x":315,"y":1740,"wires":[]},{"id":"7b4f2a2.719dfd4","type":"change","z":"4cb70764.d137e8","name":"Save Last Room Used","rules":[{"t":"move","p":"room","pt":"msg","to":"last_used_room","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2040,"wires":[["7f4c5204.f08b8c"]]},{"id":"7f4c5204.f08b8c","type":"api-current-state","z":"4cb70764.d137e8","name":"Continue?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automations_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"room","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":835,"y":2040,"wires":[["f29a6881.cbcd08"],[]],"icon":"font-awesome/fa-question","l":false},{"id":"c9a7fc9b.17112","type":"comment","z":"4cb70764.d137e8","name":"2.2 - Set rooms to \"Someone\"","info":"When there is motion in either the Bedroom or Lounge, the room where motion is detected is saved to a global variable so it can quickly be checked in later nodes too.\n\nRooms will only be set when the House is occupied (can help for alarm statuses)\n\nIf only one person is home, then their input_select.*person*_location will be changed to the last room used.\n\nOtherwise is there are 2 or more people home, the input_select.*room*_presence of the last used room will be set to \"Someone\".","x":160,"y":1940,"wires":[]},{"id":"24ce8072.21636","type":"link in","z":"4cb70764.d137e8","name":"","links":["a423cbf9.f121d8"],"x":635,"y":1580,"wires":[["91698b36.9ecf88"]]},{"id":"d20b8b75.a58e68","type":"link in","z":"4cb70764.d137e8","name":"","links":["4568a6ef.0c68b8"],"x":635,"y":1620,"wires":[["cb12eba6.f64b88"]]},{"id":"2e7101b2.3a72be","type":"link in","z":"4cb70764.d137e8","name":"","links":["c01abdb.896b44"],"x":635,"y":1700,"wires":[["c8009d0c.1c861"]]},{"id":"4fd39568.02ef8c","type":"link in","z":"4cb70764.d137e8","name":"","links":["3a4622e7.23d09e"],"x":635,"y":1740,"wires":[["a4f57c31.61b97"]]},{"id":"956403e9.f7ebf","type":"link in","z":"4cb70764.d137e8","name":"","links":["a423cbf9.f121d8"],"x":375,"y":2000,"wires":[["efdece28.f700b"]]},{"id":"272101fc.06d30e","type":"link in","z":"4cb70764.d137e8","name":"","links":["c01abdb.896b44"],"x":375,"y":2040,"wires":[["250e07c2.e9d0b8"]]},{"id":"f29a6881.cbcd08","type":"api-current-state","z":"4cb70764.d137e8","name":"House Presence?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Unknown, Empty, Someone, Guests, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","entity_id":"input_select.house_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":970,"y":2040,"wires":[["3f74e1d6.604fae","f7223927ed89e975"],[]]},{"id":"3f74e1d6.604fae","type":"switch","z":"4cb70764.d137e8","name":"Claire/Andy/Otherwise?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Claire","vt":"str"},{"t":"eq","v":"Andy","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1190,"y":2040,"wires":[["6cb30943.4f1ac8"],["dd1a3f1d.dee2a"],["ce079eff.8fd8e"]]},{"id":"6cb30943.4f1ac8","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Claire Location","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.claire_location","data":"{\"option\":\"{{global.last_used_room}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1450,"y":2000,"wires":[[]]},{"id":"dd1a3f1d.dee2a","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Andy Location","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.andy_location","data":"{\"option\":\"{{global.last_used_room}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1450,"y":2040,"wires":[[]]},{"id":"ce079eff.8fd8e","type":"switch","z":"4cb70764.d137e8","name":"Bedroom/Lounge/Bathroom?","property":"last_used_room","propertyType":"global","rules":[{"t":"eq","v":"Bedroom","vt":"str"},{"t":"eq","v":"Lounge","vt":"str"},{"t":"eq","v":"Bathroom","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1440,"y":2100,"wires":[["3db4c25e.151f3e"],["fd054dda.b9126"],["efa695eb.c7dbe8"]]},{"id":"3db4c25e.151f3e","type":"api-current-state","z":"4cb70764.d137e8","name":"Asleep?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"[\"Going to Sleep\", \"Sleeping\", \"Waking Up\"]","halt_if_type":"jsonata","halt_if_compare":"includes","entity_id":"input_select.bedroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1635,"y":2040,"wires":[[],["56fe6ed2.bd92b"]],"icon":"font-awesome/fa-moon-o","l":false},{"id":"d2af3a42.658f28","type":"function","z":"4cb70764.d137e8","name":"Someone","func":"newmsg = {};\nnewmsg.payload =  { data: { \"option\": \"Someone\"} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1900,"y":2080,"wires":[["4b81d4a0.c7368c","3b4a3c1528be28f2"]]},{"id":"c2f1745c.130678","type":"function","z":"4cb70764.d137e8","name":"Someone","func":"newmsg = {};\nnewmsg.payload =  { data: { \"option\": \"Someone\"} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":2040,"wires":[["8a3a253c.e62288","3b4a3c1528be28f2"]]},{"id":"fd054dda.b9126","type":"api-current-state","z":"4cb70764.d137e8","name":"Empty?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Empty","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.lounge_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1760,"y":2080,"wires":[["d2af3a42.658f28"],[]]},{"id":"56fe6ed2.bd92b","type":"api-current-state","z":"4cb70764.d137e8","name":"Empty?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Empty","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.bedroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1760,"y":2040,"wires":[["c2f1745c.130678"],[]]},{"id":"4b81d4a0.c7368c","type":"link out","z":"4cb70764.d137e8","name":"","links":["10a4c1c.ab5cf3e","e2abdf2e.3d15d"],"x":1995,"y":2080,"wires":[]},{"id":"8a3a253c.e62288","type":"link out","z":"4cb70764.d137e8","name":"","links":["e3687c81.8fcca","3eb9debc.bc3e82"],"x":1995,"y":2040,"wires":[]},{"id":"db9d5a44.a743f8","type":"comment","z":"4cb70764.d137e8","name":"Set Bedroom Presence","info":"","x":2120,"y":2040,"wires":[]},{"id":"e8dd2e55.f44d5","type":"comment","z":"4cb70764.d137e8","name":"Set Lounge Presence","info":"","x":2120,"y":2080,"wires":[]},{"id":"cf96b447.a3c558","type":"trigger","z":"4cb70764.d137e8","name":"15s","duration":"15","extend":true,"overrideDelay":false,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":790,"y":2440,"wires":[["aaf1e470.b1aac8"]]},{"id":"aaf1e470.b1aac8","type":"function","z":"4cb70764.d137e8","name":"Empty","func":"newmsg = {};\nnewmsg.payload =  { data: { \"option\": \"Empty\"} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":2440,"wires":[["f4c6f48e.0105a8"]]},{"id":"99ba15fa.213488","type":"api-current-state","z":"4cb70764.d137e8","name":"Lounge Someone?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Someone","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.lounge_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":570,"y":2440,"wires":[["cf96b447.a3c558","a5b4467a8a22666a"],[]]},{"id":"a0011126.f5f14","type":"trigger-state","z":"4cb70764.d137e8","name":"Lounge !Someone","server":"217cf5ca.19376a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.lounge_presence","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Someone","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":570,"y":2480,"wires":[["5752fede.7c7ae","a5b4467a8a22666a"],["a5b4467a8a22666a"]]},{"id":"5752fede.7c7ae","type":"change","z":"4cb70764.d137e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":2480,"wires":[["cf96b447.a3c558"]],"icon":"node-red/timer.svg","l":false},{"id":"cdb2754a.684238","type":"api-current-state","z":"4cb70764.d137e8","name":"Continue?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automations_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":435,"y":2440,"wires":[["99ba15fa.213488"],[]],"icon":"font-awesome/fa-question","l":false},{"id":"78c26be3.5c9c24","type":"api-current-state","z":"4cb70764.d137e8","name":"Bedroom Someone?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Someone","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.bedroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":580,"y":2280,"wires":[["b63673c.eb69c9"],[]]},{"id":"b63673c.eb69c9","type":"trigger","z":"4cb70764.d137e8","name":"15s","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":790,"y":2280,"wires":[["a59f2df4.4348a"]]},{"id":"7492e8.aadb3d18","type":"api-current-state","z":"4cb70764.d137e8","name":"Continue?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automations_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":435,"y":2280,"wires":[["78c26be3.5c9c24"],[]],"icon":"font-awesome/fa-question","l":false},{"id":"1f3586b9.205109","type":"change","z":"4cb70764.d137e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":715,"y":2320,"wires":[["b63673c.eb69c9"]],"icon":"node-red/timer.svg","l":false},{"id":"a59f2df4.4348a","type":"api-current-state","z":"4cb70764.d137e8","name":"Asleep?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"[\"Going to Sleep\", \"Sleeping\", \"Waking Up\"]","halt_if_type":"jsonata","halt_if_compare":"includes","entity_id":"input_select.bedroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":875,"y":2280,"wires":[[],["d7670ed8.a1389"]],"icon":"font-awesome/fa-moon-o","l":false},{"id":"d6edeed8.b743e","type":"trigger-state","z":"4cb70764.d137e8","name":"Bedroom !Someone","server":"217cf5ca.19376a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.bedroom_presence","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Someone","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":580,"y":2320,"wires":[["1f3586b9.205109"],[]]},{"id":"ba04c593.327998","type":"comment","z":"4cb70764.d137e8","name":"Reset","info":"This yellow timer node resets the timer that it's linked too. In this case, no message will be passed through.\n\nIt's useful in cases where something is scheduled but should no longer happen. ie. the Bedroom is about to be set to \"Empty\" but then there is new motion in there.","x":730,"y":2360,"wires":[]},{"id":"d7670ed8.a1389","type":"api-current-state","z":"4cb70764.d137e8","name":"Claire in Bed?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.withings_in_bed_claire","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1000,"y":2280,"wires":[["17e285d.4f75e7a"],["2ae4a631.8ae67a"]]},{"id":"2ae4a631.8ae67a","type":"api-current-state","z":"4cb70764.d137e8","name":"Andy in Bed?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.withings_in_bed_andy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1170,"y":2280,"wires":[["80a36898.c0d558"],["de2e2047.7dbea"]]},{"id":"de2e2047.7dbea","type":"function","z":"4cb70764.d137e8","name":"Empty","func":"newmsg = {};\nnewmsg.payload =  { data: { \"option\": \"Empty\"} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":2280,"wires":[["9e4bad54.76f89"]]},{"id":"b972629b.b7cb1","type":"comment","z":"4cb70764.d137e8","name":"Restart","info":"If the bedroom is about to be reset because there's no longer any motion, but someone is in bed, then the timers to set the bedroom to empty should be restarted.\n\nThe timer will keep getting restarted until there is no-one in bed or if the timer is reset by new motion.","x":1190,"y":2240,"wires":[]},{"id":"8afc3ce7.b5a0c","type":"link in","z":"4cb70764.d137e8","name":"","links":["17e285d.4f75e7a","80a36898.c0d558","4568a6ef.0c68b8"],"x":375,"y":2280,"wires":[["7492e8.aadb3d18"]]},{"id":"e9b8aff7.2651f","type":"link in","z":"4cb70764.d137e8","name":"","links":["3a4622e7.23d09e"],"x":375,"y":2440,"wires":[["cdb2754a.684238"]]},{"id":"3eb9debc.bc3e82","type":"link in","z":"4cb70764.d137e8","name":"Reset Bedroom to Empty Timer","links":["8a3a253c.e62288","a423cbf9.f121d8"],"x":615,"y":2360,"wires":[["1f3586b9.205109"]]},{"id":"e2abdf2e.3d15d","type":"link in","z":"4cb70764.d137e8","name":"Reset Lounge to Empty Timer","links":["4b81d4a0.c7368c","c01abdb.896b44"],"x":615,"y":2520,"wires":[["5752fede.7c7ae"]]},{"id":"17e285d.4f75e7a","type":"link out","z":"4cb70764.d137e8","name":"","links":["8afc3ce7.b5a0c"],"x":1115,"y":2240,"wires":[]},{"id":"80a36898.c0d558","type":"link out","z":"4cb70764.d137e8","name":"","links":["8afc3ce7.b5a0c"],"x":1275,"y":2240,"wires":[]},{"id":"9e4bad54.76f89","type":"link out","z":"4cb70764.d137e8","name":"","links":["e3687c81.8fcca"],"x":1395,"y":2280,"wires":[]},{"id":"f4c6f48e.0105a8","type":"link out","z":"4cb70764.d137e8","name":"","links":["10a4c1c.ab5cf3e"],"x":1335,"y":2440,"wires":[]},{"id":"6691f5be.da2f3c","type":"comment","z":"4cb70764.d137e8","name":"3 - BLE ROOM PRESENCE","info":"","x":120,"y":2740,"wires":[]},{"id":"7392c782.985d88","type":"server-state-changed","z":"4cb70764.d137e8","name":"Claire BLE Room","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.claire_esp32_mqtt_room","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":2880,"wires":[["bd0de279.2c72c"],[]]},{"id":"28a0ed5d.98a582","type":"link in","z":"4cb70764.d137e8","name":"","links":["7261551f.c1283c"],"x":135,"y":3220,"wires":[["c9811790.d9fd08"]]},{"id":"7261551f.c1283c","type":"link out","z":"4cb70764.d137e8","name":"","links":["28a0ed5d.98a582"],"x":1395,"y":2900,"wires":[]},{"id":"7bae33f6.55dd7c","type":"function","z":"4cb70764.d137e8","name":"Set Room","func":"newmsg = {};\nconst person_location_entity = msg.person_location_data.entity_id;\nconst new_room_to_set = msg.new_room_to_set;\nnewmsg.payload =  { data: {\"entity_id\": person_location_entity, \"option\": new_room_to_set} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":3200,"wires":[["59b500cc.29b7b"]]},{"id":"5e8bcad.dfff434","type":"change","z":"4cb70764.d137e8","name":"Set Bathroom","rules":[{"t":"set","p":"new_room_to_set","pt":"msg","to":"Bathroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":3260,"wires":[["7bae33f6.55dd7c"]]},{"id":"537c8f7.ddb947","type":"change","z":"4cb70764.d137e8","name":"Set Lounge","rules":[{"t":"set","p":"new_room_to_set","pt":"msg","to":"Lounge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":3120,"wires":[["7bae33f6.55dd7c"]]},{"id":"4f424c9f.eb2f04","type":"change","z":"4cb70764.d137e8","name":"Set Bedroom","rules":[{"t":"set","p":"new_room_to_set","pt":"msg","to":"Bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":3040,"wires":[["7bae33f6.55dd7c"]]},{"id":"2be338c4.014fc8","type":"switch","z":"4cb70764.d137e8","name":"BLE Same for >10s?","property":"ble_room_data.new_state.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gte","v":"10000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":3240,"wires":[["5e8bcad.dfff434"],[]]},{"id":"b63b81a5.7f53c","type":"switch","z":"4cb70764.d137e8","name":"BLE Same for >40s?","property":"ble_room_data.new_state.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gte","v":"40000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":3280,"wires":[["5e8bcad.dfff434"],[]]},{"id":"b98af048.ea84e","type":"switch","z":"4cb70764.d137e8","name":"Lounge Motion event <5mins ago?","property":"lounge_motion_data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lte","v":"300000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":3120,"wires":[["537c8f7.ddb947"],["49816e8d.16afb"]]},{"id":"49816e8d.16afb","type":"switch","z":"4cb70764.d137e8","name":"BLE Same for >2mins?","property":"ble_room_data.new_state.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gte","v":"120000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":3140,"wires":[["537c8f7.ddb947"],[]]},{"id":"a7b720af.d1d5d","type":"switch","z":"4cb70764.d137e8","name":"Bedroom Motion event <5mins ago?","property":"bedroom_motion_data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lte","v":"300000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":3040,"wires":[["4f424c9f.eb2f04"],["ed70426f.cc86f"]]},{"id":"ed70426f.cc86f","type":"switch","z":"4cb70764.d137e8","name":"BLE Same for >2mins?","property":"ble_room_data.new_state.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gte","v":"120000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":3060,"wires":[["4f424c9f.eb2f04"],[]]},{"id":"9a383150.d4ac3","type":"switch","z":"4cb70764.d137e8","name":"Bedroom Motion event <3mins ago?","property":"bedroom_motion_data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lte","v":"180000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":3220,"wires":[["2be338c4.014fc8"],["b63b81a5.7f53c"]]},{"id":"46a06864.89a148","type":"switch","z":"4cb70764.d137e8","name":"Lounge Motion event <3mins ago?","property":"lounge_motion_data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lte","v":"180000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":3260,"wires":[["2be338c4.014fc8"],["b63b81a5.7f53c"]]},{"id":"5a25b30e.20e30c","type":"switch","z":"4cb70764.d137e8","name":"!In Bed?","property":"bed_presence","propertyType":"msg","rules":[{"t":"eq","v":"off/not automated","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":3140,"wires":[["b98af048.ea84e"],["49816e8d.16afb"]]},{"id":"b6cc8954.dbec48","type":"switch","z":"4cb70764.d137e8","name":"Bedroom !Set?","property":"person_location","propertyType":"msg","rules":[{"t":"neq","v":"Bedroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":3060,"wires":[["a7b720af.d1d5d"]]},{"id":"60da4519.0537ec","type":"switch","z":"4cb70764.d137e8","name":"!In Bed?","property":"bed_presence","propertyType":"msg","rules":[{"t":"eq","v":"off/not automated","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":3280,"wires":[["9a383150.d4ac3","46a06864.89a148"],["b63b81a5.7f53c"]]},{"id":"610aed6e.d78974","type":"switch","z":"4cb70764.d137e8","name":"Lounge !Set?","property":"person_location","propertyType":"msg","rules":[{"t":"neq","v":"Lounge","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":3140,"wires":[["5a25b30e.20e30c"]]},{"id":"c9811790.d9fd08","type":"switch","z":"4cb70764.d137e8","name":"BLE Room?","property":"ble_room","propertyType":"msg","rules":[{"t":"eq","v":"bedroom","vt":"str"},{"t":"eq","v":"lounge","vt":"str"},{"t":"eq","v":"bathroom","vt":"str"},{"t":"eq","v":"kitchen","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":3220,"wires":[["b6cc8954.dbec48"],["610aed6e.d78974"],["232b9b18.1d3f94","a46bbef4.19bc6"],[]]},{"id":"232b9b18.1d3f94","type":"switch","z":"4cb70764.d137e8","name":"Bath !Set?","property":"person_location","propertyType":"msg","rules":[{"t":"neq","v":"Bathroom","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":3280,"wires":[["60da4519.0537ec"]]},{"id":"b81476a5.c50a78","type":"function","z":"4cb70764.d137e8","name":"Bed Presence","func":"const globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant; //Generic bits to get HA states\nperson = msg.person; //Create constant for the relevant person\nbed_presence_entity = \"binary_sensor.withings_in_bed_\" + person; //Create string for the bed presence of the relevant person\nbed_presence_state = ha.states[bed_presence_entity].state; //Get Bed Presence State for the relevant person\n\nconst automate_bed_presence = ha.states['input_boolean.automations_presence_bed'].state; //Check if bed presence automations are on\n\n\nlet bed_presence = [];\n\nif (automate_bed_presence == 'on') {\n    if (bed_presence_state == 'on') {\n        bed_presence = \"on\";\n    } else {\n        bed_presence = \"off/not automated\";\n    }\n}\nelse {\n    bed_presence = \"off/not automated\";\n}\n\nmsg.bed_presence =  bed_presence;\nreturn msg;\n\n//This code sets msg.bed_presence to either on of off/not automated\n//It sets to on if bed presence automations are on and bed presence is detected.\n//Otherwise it sets it to off/not automated","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":2900,"wires":[["7261551f.c1283c"]]},{"id":"fd3314cc.1c3678","type":"api-current-state","z":"4cb70764.d137e8","name":"Person Location?","server":"217cf5ca.19376a","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.{{person}}_location","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"person_location","propertyType":"msg","value":"","valueType":"entityState"},{"property":"person_location_data","propertyType":"msg","value":"","valueType":"entity"}],"x":1090,"y":2900,"wires":[["b81476a5.c50a78"]]},{"id":"254288f.e47c678","type":"api-current-state","z":"4cb70764.d137e8","name":"Lounge Motion?","server":"217cf5ca.19376a","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.lounge_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"lounge_motion","propertyType":"msg","value":"","valueType":"entityState"},{"property":"lounge_motion_data","propertyType":"msg","value":"","valueType":"entity"}],"x":900,"y":2900,"wires":[["fd3314cc.1c3678"]]},{"id":"f44a6616.660158","type":"api-current-state","z":"4cb70764.d137e8","name":"Bedroom Motion?","server":"217cf5ca.19376a","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.bedroom_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"bedroom_motion","propertyType":"msg","value":"","valueType":"entityState"},{"property":"bedroom_motion_data","propertyType":"msg","value":"","valueType":"entity"}],"x":710,"y":2900,"wires":[["254288f.e47c678"]]},{"id":"c2c49e69.f292e","type":"api-current-state","z":"4cb70764.d137e8","name":"Continue?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automations_presence_ble","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"ble_room","propertyType":"msg","value":"","valueType":"entityState"},{"property":"ble_room_data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":575,"y":2900,"wires":[["f44a6616.660158"],[]],"icon":"font-awesome/fa-question","l":false},{"id":"43bdfceb.2281c4","type":"change","z":"4cb70764.d137e8","name":"Save BLE Room","rules":[{"t":"move","p":"payload","pt":"msg","to":"ble_room","tot":"msg"},{"t":"move","p":"data","pt":"msg","to":"ble_room_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":2900,"wires":[["c2c49e69.f292e"]]},{"id":"bd0de279.2c72c","type":"change","z":"4cb70764.d137e8","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"sensor.","fromt":"str","to":"","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"_esp32_mqtt_room","fromt":"str","to":"","tot":"str"},{"t":"set","p":"person","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":2900,"wires":[["43bdfceb.2281c4"]],"l":false},{"id":"4ec0fb61.927404","type":"server-state-changed","z":"4cb70764.d137e8","name":"Andy Claire BLE Room","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.andy_claire_iphone","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":2920,"wires":[["bd0de279.2c72c","a69cf3a9dc2341ac"],[]]},{"id":"59b500cc.29b7b","type":"link out","z":"4cb70764.d137e8","name":"","links":["fd252457.e41e18"],"x":1655,"y":3200,"wires":[]},{"id":"43c7cf59.f26c2","type":"comment","z":"4cb70764.d137e8","name":"4 - UPDATE ROOM PRESENCE","info":"This flow is triggered by a change in a person's \"input_select.person_location\".\nIt can also be manually triggered via the link node.","x":130,"y":3500,"wires":[]},{"id":"15da28bf.4f5ec7","type":"server-state-changed","z":"4cb70764.d137e8","name":"Claire Location Change?","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.claire_location","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":3640,"wires":[["a9262368.89267"]]},{"id":"8e52304.29c7ad","type":"server-state-changed","z":"4cb70764.d137e8","name":"Andy Location Change?","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.andy_location","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":3680,"wires":[["a9262368.89267"]]},{"id":"a9262368.89267","type":"api-current-state","z":"4cb70764.d137e8","name":"Continue?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automations_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":335,"y":3660,"wires":[["ca108cd7.dda85","cead02c.a8751","9088033a.0f72d","e4ccb84c.298af8"],[]],"icon":"font-awesome/fa-question","l":false},{"id":"ca108cd7.dda85","type":"api-current-state","z":"4cb70764.d137e8","name":"Sleeping?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"[\"Going to Sleep\", \"Sleeping\", \"Waking Up\"]","halt_if_type":"jsonata","halt_if_compare":"includes","entity_id":"input_select.bedroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":395,"y":3580,"wires":[[],["52a787fe.4bac18"]],"icon":"font-awesome/fa-moon-o","l":false},{"id":"cead02c.a8751","type":"function","z":"4cb70764.d137e8","name":"Kitchen Presence","func":"//code modified from: https://community.home-assistant.io/t/examples-for-using-the-new-get-entities-node/85777/4\nconst globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst groupEntity = ha.states['group.person_locations'];\nlet occupants = [];\n\n//*******Just change the room below to whichever room the flow is for*******\n\nroom = \"Kitchen\"; //Room should be whatever input_select.*room*_presence would be set to\n                      //eg Bedroom or Lounge (capitalised and with a space if required)\n\ngroupEntity.attributes.entity_id.forEach(i => {\n    if(ha.states[i].state === room) {\n        occupants.push(ha.states[i].attributes.friendly_name.replace(\" Location\", \"\"));\n        //The push bit adds the friendly name of any persons location input select which matches the state (ie Lounge)\n        //The replace bit clears the Location part from the friendly name leaving just the initials.         \n    }\n});\n\n//the join function creates '+' separated string from the array.\noccupants = occupants.join(' + ');\n\nif (occupants === '') {\n    //If no occupation is detected, set the room to Empty\n    occupants = \"Empty\";\n}\n\nmsg.payload = { data: { \"option\": occupants} };\n\n//Output to top channel by default but to bottom channel if room will be set to Empty\nif (occupants == \"Empty\") {\n    return [ null, msg ];\n} else {\n    return [ msg, null ];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3820,"wires":[["330c7ee0.eaf012"],["bb14cf9f.1ca57"]]},{"id":"330c7ee0.eaf012","type":"change","z":"4cb70764.d137e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":3800,"wires":[["47735677.e75c98","9e53d751.aaa578"]],"icon":"node-red/timer.svg","l":false},{"id":"47735677.e75c98","type":"trigger","z":"4cb70764.d137e8","name":"1m","duration":"60","extend":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":855,"y":3820,"wires":[["9e53d751.aaa578"]],"l":false},{"id":"bb14cf9f.1ca57","type":"api-current-state","z":"4cb70764.d137e8","name":"Kitchen !Empty?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Empty","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.kitchen_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":720,"y":3840,"wires":[["47735677.e75c98"],[]]},{"id":"86ab9e9.125176","type":"change","z":"4cb70764.d137e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":3560,"wires":[["2da4093e.86a9d6","60a292a2.a604fc"]],"icon":"node-red/timer.svg","l":false},{"id":"2da4093e.86a9d6","type":"trigger","z":"4cb70764.d137e8","name":"2m","duration":"30","extend":true,"overrideDelay":false,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":855,"y":3580,"wires":[["60a292a2.a604fc"]],"l":false},{"id":"ed53d591.4d9b78","type":"api-current-state","z":"4cb70764.d137e8","name":"Bedroom !Empty?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Empty","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.bedroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":730,"y":3600,"wires":[["2da4093e.86a9d6"],[]]},{"id":"c00e2c02.3313a","type":"change","z":"4cb70764.d137e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":3640,"wires":[["f49ce45.18f8c18","56552240.11affc"]],"icon":"node-red/timer.svg","l":false},{"id":"f49ce45.18f8c18","type":"trigger","z":"4cb70764.d137e8","name":"2m","duration":"30","extend":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":855,"y":3660,"wires":[["56552240.11affc"]],"l":false},{"id":"b36df4f8.a17438","type":"api-current-state","z":"4cb70764.d137e8","name":"Lounge !Empty?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Empty","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.lounge_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":720,"y":3680,"wires":[["f49ce45.18f8c18"],[]]},{"id":"56552240.11affc","type":"link out","z":"4cb70764.d137e8","name":"","links":["10a4c1c.ab5cf3e"],"x":915,"y":3640,"wires":[]},{"id":"60a292a2.a604fc","type":"link out","z":"4cb70764.d137e8","name":"","links":["e3687c81.8fcca"],"x":915,"y":3560,"wires":[]},{"id":"9e53d751.aaa578","type":"link out","z":"4cb70764.d137e8","name":"","links":["1c1603fd.cc6ecc"],"x":915,"y":3800,"wires":[]},{"id":"d65ddba8.4b6fb8","type":"delay","z":"4cb70764.d137e8","name":"5s","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":230,"y":80,"wires":[["b498cf4.23e743"]]},{"id":"dce85a3.a67fba8","type":"comment","z":"4cb70764.d137e8","name":"Frequently Used Nodes","info":"These nodes are gathered in one place so it's easy to tell which flows can set what.","x":100,"y":140,"wires":[]},{"id":"a383cd87.f4542","type":"comment","z":"4cb70764.d137e8","name":"2.3 - Set rooms to \"Empty\"","info":"","x":150,"y":2220,"wires":[]},{"id":"591f0ead.f8624","type":"comment","z":"4cb70764.d137e8","name":"Bedroom Occupied","info":"","x":450,"y":1580,"wires":[]},{"id":"26bc9b59.512064","type":"comment","z":"4cb70764.d137e8","name":"Bedroom Not Occupied","info":"","x":460,"y":1620,"wires":[]},{"id":"4f7476a7.483328","type":"comment","z":"4cb70764.d137e8","name":"Lounge Occupied","info":"","x":440,"y":1700,"wires":[]},{"id":"70d28de.84d6774","type":"comment","z":"4cb70764.d137e8","name":"Lounge Not Occupied","info":"","x":460,"y":1740,"wires":[]},{"id":"efdece28.f700b","type":"change","z":"4cb70764.d137e8","name":"Bedroom","rules":[{"t":"set","p":"room","pt":"msg","to":"Bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2000,"wires":[["7b4f2a2.719dfd4"]]},{"id":"250e07c2.e9d0b8","type":"change","z":"4cb70764.d137e8","name":"Lounge","rules":[{"t":"set","p":"room","pt":"msg","to":"Lounge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2040,"wires":[["7b4f2a2.719dfd4"]]},{"id":"51912916.f2e538","type":"comment","z":"4cb70764.d137e8","name":"Set House Presence","info":"","x":810,"y":1280,"wires":[]},{"id":"d290338.cb58dd","type":"comment","z":"4cb70764.d137e8","name":"Set House Presence","info":"","x":830,"y":1080,"wires":[]},{"id":"cf90f23b.770d2","type":"comment","z":"4cb70764.d137e8","name":"Claire Location","info":"","x":640,"y":560,"wires":[]},{"id":"cf985db6.ceae","type":"comment","z":"4cb70764.d137e8","name":"Andy Location","info":"","x":630,"y":600,"wires":[]},{"id":"c4121ec2.a5877","type":"comment","z":"4cb70764.d137e8","name":"Set Bedroom Presence","info":"","x":1540,"y":2280,"wires":[]},{"id":"ea147be4.b465c8","type":"comment","z":"4cb70764.d137e8","name":"Set Lounge Presence","info":"","x":1480,"y":2440,"wires":[]},{"id":"80720b5d.688078","type":"comment","z":"4cb70764.d137e8","name":"Set Person Location","info":"","x":1790,"y":3200,"wires":[]},{"id":"c820bd13.743e9","type":"comment","z":"4cb70764.d137e8","name":"Set Bedroom Presence","info":"","x":1060,"y":3560,"wires":[]},{"id":"22c5af76.0e49d","type":"comment","z":"4cb70764.d137e8","name":"Set Lounge Presence","info":"","x":1060,"y":3640,"wires":[]},{"id":"250cfda0.ae2802","type":"comment","z":"4cb70764.d137e8","name":"Set Kitchen Presence","info":"","x":1060,"y":3800,"wires":[]},{"id":"7697765c.54d968","type":"comment","z":"4cb70764.d137e8","name":"3.1 - BLE Inputs and Checking other States","info":"","x":200,"y":2800,"wires":[]},{"id":"5c96fd8d.f13824","type":"comment","z":"4cb70764.d137e8","name":"3.2 - Set Room Presence","info":"","x":150,"y":3000,"wires":[]},{"id":"53084e82.1e2ec","type":"comment","z":"4cb70764.d137e8","name":"Note","info":"It's important to leave these as person.claire rather than input_select.claire_location.\n\nSince the person entity can be slow to update, it's possible that BLE kicks in before person.claire goes to home so a room would be assigned and input_select.claire_location would never actually go to \"Just Arrived\" or \"Home\"","x":210,"y":1140,"wires":[]},{"id":"77c09734.806218","type":"comment","z":"4cb70764.d137e8","name":"Note","info":"This way of checking is a little lazy but works just fine for only 2 people. I will update this to work for any number of people at some point.","x":530,"y":1240,"wires":[]},{"id":"5974951a.0fb34c","type":"comment","z":"4cb70764.d137e8","name":"?","info":"A question mark icon indicates a place where a type of automation can be stopped.\n\nIn this case, this flow to set room presence will only continue if input_select.automations_presence is set to on.\n\nThis makes it easy to stop certain types of automations from the frontend.","x":850,"y":2000,"wires":[]},{"id":"2d472e93.a7c4a2","type":"comment","z":"4cb70764.d137e8","name":"Moon","info":"A moon icon indicates a place where input_select.bedroom_presence is checked. If the presence is set to any type of sleeping, then this should not be overwritten (unless an alarm is stopped it's manually overridden). This check makes sure that flows don't overwrite bedroom presence when someone is sleeping.","x":1610,"y":2000,"wires":[]},{"id":"b0aa2b63.12d828","type":"comment","z":"4cb70764.d137e8","name":"Reset","info":"This yellow timer node resets the timer that it's linked too. In this case, no message will be passed through.\n\nIt's useful in cases where something is scheduled but should no longer happen. ie. the Bedroom is about to be set to \"Empty\" but then there is new motion in there.","x":730,"y":2520,"wires":[]},{"id":"717c45e0.0c93cc","type":"comment","z":"4cb70764.d137e8","name":"Restart","info":"If the bedroom is about to be reset because there's no longer any motion, but someone is in bed, then the timers to set the bedroom to empty should be restarted.\n\nThe timer will keep getting restarted until there is no-one in bed or if the timer is reset by new motion.","x":1350,"y":2240,"wires":[]},{"id":"fdfefdac.8da85","type":"api-call-service","z":"4cb70764.d137e8","name":"Set Bathroom Presence","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.bathroom_presence","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":290,"y":320,"wires":[[]]},{"id":"672ab118.a0163","type":"link in","z":"4cb70764.d137e8","name":"Set Bathroom Presence","links":["9bb63db4.f95e5","cff9e673.4738a8","2f491c9b.5b2c14","b495f7b1.ea9d28"],"x":135,"y":320,"wires":[["fdfefdac.8da85"]]},{"id":"8078424b.3e83c","type":"trigger-state","z":"4cb70764.d137e8","name":"Shower Start","server":"217cf5ca.19376a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.bathroom_humidity","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":">=","comparatorValueDatatype":"str","comparatorValue":"75","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"<","comparatorValueDatatype":"str","comparatorValue":"75","propertyValue":"old_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":190,"y":1820,"wires":[["e1032116.6609a"],[]]},{"id":"ea58d016.4da71","type":"trigger-state","z":"4cb70764.d137e8","name":"Shower End","server":"217cf5ca.19376a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.bathroom_humidity","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"13eor7lru8f","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":">","comparatorValueDatatype":"str","comparatorValue":"75"},{"id":"s4ta339albe","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"str","comparatorValue":"75"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":190,"y":1860,"wires":[["348a1cb2.6a0394"],[]]},{"id":"e1032116.6609a","type":"link out","z":"4cb70764.d137e8","name":"Lounge Motion Cleared","links":["236a8c51.3f86f4","b9cef4ba.95ca38","6bc52e41.3bf86"],"x":315,"y":1820,"wires":[]},{"id":"236a8c51.3f86f4","type":"link in","z":"4cb70764.d137e8","name":"","links":["e1032116.6609a"],"x":635,"y":1820,"wires":[["7f8e472d.143b48"]]},{"id":"2b9ebdd4.c34492","type":"comment","z":"4cb70764.d137e8","name":"Bathroom Occupied","info":"","x":450,"y":1820,"wires":[]},{"id":"a9cc10a8.e760a","type":"comment","z":"4cb70764.d137e8","name":"Bathroom Not Occupied","info":"","x":460,"y":1860,"wires":[]},{"id":"348a1cb2.6a0394","type":"link out","z":"4cb70764.d137e8","name":"Lounge Motion Cleared","links":["24c9957a.2171ea"],"x":315,"y":1860,"wires":[]},{"id":"24c9957a.2171ea","type":"link in","z":"4cb70764.d137e8","name":"","links":["348a1cb2.6a0394"],"x":635,"y":1860,"wires":[["93e75be.09ef8a8"]]},{"id":"3ef9905e.3529e","type":"change","z":"4cb70764.d137e8","name":"Bathroom","rules":[{"t":"set","p":"room","pt":"msg","to":"Bathroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":2080,"wires":[["7b4f2a2.719dfd4"]]},{"id":"b9cef4ba.95ca38","type":"link in","z":"4cb70764.d137e8","name":"","links":["e1032116.6609a"],"x":375,"y":2080,"wires":[["3ef9905e.3529e"]]},{"id":"2ce982aa.6a1a3e","type":"server-state-changed","z":"4cb70764.d137e8","name":"Claire in Bed","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.withings_in_bed_claire","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1520,"wires":[["a423cbf9.f121d8"],[]]},{"id":"fc7f48f6.4c7178","type":"server-state-changed","z":"4cb70764.d137e8","name":"Andy in Bed","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.withings_in_bed_andy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":1560,"wires":[["a423cbf9.f121d8"],[]]},{"id":"fe4b63b2.bd32e","type":"trigger","z":"4cb70764.d137e8","name":"15s","duration":"15","extend":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":790,"y":2600,"wires":[["75ca2147.932f3"]]},{"id":"75ca2147.932f3","type":"function","z":"4cb70764.d137e8","name":"Empty","func":"newmsg = {};\nnewmsg.payload =  { data: { \"option\": \"Empty\"} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":2600,"wires":[["cff9e673.4738a8"]]},{"id":"c6baca9a.b0e098","type":"api-current-state","z":"4cb70764.d137e8","name":"Bath Someone?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Someone","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.bathroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":560,"y":2600,"wires":[["fe4b63b2.bd32e"],[]]},{"id":"2d638f3c.f9174","type":"trigger-state","z":"4cb70764.d137e8","name":"Bath !Someone","server":"217cf5ca.19376a","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.bathroom_presence","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ypl0z16l48","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Someone"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","enableInput":true,"x":560,"y":2640,"wires":[["67ba6119.5ee85"],[]]},{"id":"67ba6119.5ee85","type":"change","z":"4cb70764.d137e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":695,"y":2640,"wires":[["fe4b63b2.bd32e"]],"icon":"node-red/timer.svg","l":false},{"id":"d621ff3a.1a46d","type":"api-current-state","z":"4cb70764.d137e8","name":"Continue?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automations_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":435,"y":2600,"wires":[["c6baca9a.b0e098"],[]],"icon":"font-awesome/fa-question","l":false},{"id":"9db72a58.bc21d8","type":"link in","z":"4cb70764.d137e8","name":"","links":["3a4622e7.23d09e"],"x":375,"y":2600,"wires":[["d621ff3a.1a46d"]]},{"id":"6bc52e41.3bf86","type":"link in","z":"4cb70764.d137e8","name":"Reset Lounge to Empty Timer","links":["2f491c9b.5b2c14","e1032116.6609a"],"x":615,"y":2680,"wires":[["67ba6119.5ee85"]]},{"id":"cff9e673.4738a8","type":"link out","z":"4cb70764.d137e8","name":"","links":["672ab118.a0163"],"x":1335,"y":2600,"wires":[]},{"id":"ceed26d5.d48c68","type":"comment","z":"4cb70764.d137e8","name":"Set Bathroom Presence","info":"","x":1480,"y":2600,"wires":[]},{"id":"4fdb469e.4f31b8","type":"comment","z":"4cb70764.d137e8","name":"Reset","info":"This yellow timer node resets the timer that it's linked too. In this case, no message will be passed through.\n\nIt's useful in cases where something is scheduled but should no longer happen. ie. the Bedroom is about to be set to \"Empty\" but then there is new motion in there.","x":730,"y":2680,"wires":[]},{"id":"88612aa4.172a68","type":"comment","z":"4cb70764.d137e8","name":"Note","info":"Add conditions here that must be satisfied for a room to be set to empty (eg the TV is off) - these conditions should be wired in to restart the timer looking to set the room presence to Empty like in the bed presence example above.","x":950,"y":2420,"wires":[]},{"id":"8daa82d1.5fa71","type":"function","z":"4cb70764.d137e8","name":"Someone","func":"newmsg = {};\nnewmsg.payload =  { data: { \"option\": \"Someone\"} };   \nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":2120,"wires":[["2f491c9b.5b2c14","3b4a3c1528be28f2"]]},{"id":"efa695eb.c7dbe8","type":"api-current-state","z":"4cb70764.d137e8","name":"Empty?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Empty","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.bathroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1760,"y":2120,"wires":[["8daa82d1.5fa71"],[]]},{"id":"2f491c9b.5b2c14","type":"link out","z":"4cb70764.d137e8","name":"","links":["672ab118.a0163","6bc52e41.3bf86"],"x":1995,"y":2120,"wires":[]},{"id":"b81cc84b.31dd78","type":"comment","z":"4cb70764.d137e8","name":"Set Bathroom Presence","info":"","x":2120,"y":2120,"wires":[]},{"id":"7fe12d4.35459d4","type":"change","z":"4cb70764.d137e8","name":"Set Bathroom","rules":[{"t":"set","p":"new_room_to_set","pt":"msg","to":"Kitchen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":3380,"wires":[["7bae33f6.55dd7c"]]},{"id":"74764197.b513b","type":"switch","z":"4cb70764.d137e8","name":"BLE Same for >10s?","property":"ble_room_data.new_state.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gte","v":"10000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":3360,"wires":[["7fe12d4.35459d4"],[]]},{"id":"13bfe0c1.5b54cf","type":"switch","z":"4cb70764.d137e8","name":"BLE Same for >40s?","property":"ble_room_data.new_state.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"gte","v":"40000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1120,"y":3400,"wires":[["7fe12d4.35459d4"],[]]},{"id":"8df10dd4.e34db","type":"switch","z":"4cb70764.d137e8","name":"Bedroom Motion event <3mins ago?","property":"bedroom_motion_data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lte","v":"180000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":3340,"wires":[["74764197.b513b"],["13bfe0c1.5b54cf"]]},{"id":"d25d1298.5504","type":"switch","z":"4cb70764.d137e8","name":"Lounge Motion event <3mins ago?","property":"lounge_motion_data.timeSinceChangedMs","propertyType":"msg","rules":[{"t":"lte","v":"180000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":3380,"wires":[["74764197.b513b"],["13bfe0c1.5b54cf"]]},{"id":"fe9d6a1.7be2398","type":"switch","z":"4cb70764.d137e8","name":"!In Bed?","property":"bed_presence","propertyType":"msg","rules":[{"t":"eq","v":"off/not automated","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":3400,"wires":[["8df10dd4.e34db","d25d1298.5504"],["13bfe0c1.5b54cf"]]},{"id":"a46bbef4.19bc6","type":"switch","z":"4cb70764.d137e8","name":"Kitchen !Set?","property":"person_location","propertyType":"msg","rules":[{"t":"neq","v":"Kitchen","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":3400,"wires":[["fe9d6a1.7be2398"]]},{"id":"7ac9cd20.c642b4","type":"comment","z":"4cb70764.d137e8","name":"Startup","info":"This short section is triggered when Home Assistant restarts. I have an sensor.uptime_hours which keeps track of how long Home Assistant has been running.\n\nWhen uptime reaches a certain time, the flows that run on startup are all triggered.","x":50,"y":20,"wires":[]},{"id":"3b257310.622a5c","type":"comment","z":"4cb70764.d137e8","name":"Bedroom Occupied","info":"","x":210,"y":2000,"wires":[]},{"id":"a8fb7e3d.07aa3","type":"comment","z":"4cb70764.d137e8","name":"Lounge Occupied","info":"","x":200,"y":2040,"wires":[]},{"id":"56f7238a.fbd7cc","type":"comment","z":"4cb70764.d137e8","name":"Bathroom Occupied","info":"","x":210,"y":2080,"wires":[]},{"id":"82a97cf8.5b668","type":"comment","z":"4cb70764.d137e8","name":"Bedroom Not Occupied","info":"","x":220,"y":2280,"wires":[]},{"id":"83ffab05.7db4e8","type":"comment","z":"4cb70764.d137e8","name":"Lounge Not Occupied","info":"","x":230,"y":2440,"wires":[]},{"id":"8ae03.bcea41fd8","type":"comment","z":"4cb70764.d137e8","name":"Bathroom Not Occupied","info":"","x":220,"y":2600,"wires":[]},{"id":"7fc6dc30.43cb14","type":"change","z":"4cb70764.d137e8","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":3720,"wires":[["3568143c.7188ec","b495f7b1.ea9d28"]],"icon":"node-red/timer.svg","l":false},{"id":"3568143c.7188ec","type":"trigger","z":"4cb70764.d137e8","name":"1m","duration":"60","extend":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":855,"y":3740,"wires":[["b495f7b1.ea9d28"]],"l":false},{"id":"59324c27.e01084","type":"api-current-state","z":"4cb70764.d137e8","name":"Bathroom !Empty?","server":"217cf5ca.19376a","version":2,"outputs":2,"halt_if":"Empty","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.bathroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[],"x":730,"y":3760,"wires":[["3568143c.7188ec"],[]]},{"id":"b495f7b1.ea9d28","type":"link out","z":"4cb70764.d137e8","name":"","links":["1c1603fd.cc6ecc","672ab118.a0163"],"x":915,"y":3720,"wires":[]},{"id":"51be1178.e1fa1","type":"comment","z":"4cb70764.d137e8","name":"Set Bathroom Presence","info":"","x":1060,"y":3720,"wires":[]},{"id":"2856dd68.802132","type":"comment","z":"4cb70764.d137e8","name":"Generic Pres. Considered","info":"The bedroom and lounge have motion sensors so the function node accounts for those too in the setting of room presence.\n\nA list '+' seperated list of room occupants is created. \n    - the room's input_select.*room*_presence is updated with this list of occupants.\n\nIf the list is empty (ie no people are detected in the room by BLE):\n    There is a check for motion in the room\n    If there is motion:\n        - the room's input_select.*room*_presence is set to \"Someone\".\n        This is a bit like reverting back to generic room presence (and is helpful in case BLE incorrectly causes someone to move to a difference room bedroomiefly).\n        - also any timer about to the set the room to \"Empty\" is cancelled.\n    If there is no motion:\n        - the room's input_select.*room*_presence is set to \"Empty\" after a short delay.\n       ","x":510,"y":3540,"wires":[]},{"id":"3dce5ee9.3d8262","type":"comment","z":"4cb70764.d137e8","name":"Generic Pres. !Considered","info":"The bathroom and kitchen do not have motion sensors so the function node doesn't account for motion in the setting of room presence here.\n\nA list '+' seperated list of room occupants is created. \n    - the room's input_select.*room*_presence is updated with this list of occupants.\n\nIf the list is empty (ie no people are detected in the room by BLE):\n    - the room's input_select.*room*_presence is set to \"Empty\" after a short delay.\n    - also any timer about to the set the room to \"Empty\" is cancelled.","x":510,"y":3860,"wires":[]},{"id":"cedb48c1.669f18","type":"comment","z":"4cb70764.d137e8","name":"30s Delay","info":"","x":860,"y":3520,"wires":[]},{"id":"91698b36.9ecf88","type":"change","z":"4cb70764.d137e8","name":"Bedroom Generic Presence to TRUE","rules":[{"t":"set","p":"Bedroom_generic_presence","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1580,"wires":[[]]},{"id":"cb12eba6.f64b88","type":"change","z":"4cb70764.d137e8","name":"Bedroom Generic Presence to FALSE","rules":[{"t":"set","p":"Bedroom_generic_presence","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1620,"wires":[[]]},{"id":"c8009d0c.1c861","type":"change","z":"4cb70764.d137e8","name":"Lounge Generic Presence to TRUE","rules":[{"t":"set","p":"Lounge_generic_presence","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1700,"wires":[[]]},{"id":"7f8e472d.143b48","type":"change","z":"4cb70764.d137e8","name":"Bathroom Generic Presence to TRUE","rules":[{"t":"set","p":"Bathroom_generic_presence","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1820,"wires":[[]]},{"id":"93e75be.09ef8a8","type":"change","z":"4cb70764.d137e8","name":"Bathroom Generic Presence to FALSE","rules":[{"t":"set","p":"Bathroom_generic_presence","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1860,"wires":[[]]},{"id":"a4f57c31.61b97","type":"change","z":"4cb70764.d137e8","name":"Lounge Generic Presence to FALSE","rules":[{"t":"set","p":"Lounge_generic_presence","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1740,"wires":[[]]},{"id":"52a787fe.4bac18","type":"function","z":"4cb70764.d137e8","name":"Bedroom Presence","func":"//code modified from: https://community.home-assistant.io/t/examples-for-using-the-new-get-entities-node/85777/4\nconst globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst groupEntity = ha.states['group.person_locations'];\nlet occupants = [];\n\n//*******Just change the room below to whichever room the flow is for*******\n\nroom = \"Bedroom\"; //Room should be whatever input_select.*room*_presence would be set to\n                      //eg Bedroom or Lounge (capitalised and with a space if required)\n//Next, set up the variable that is the flow variable indicating generic room presence - this is checked further down\ngeneric_room_presence = room.replace(\" \", \"_\") + \"_generic_presence\";\n\ngroupEntity.attributes.entity_id.forEach(i => {\n    if(ha.states[i].state === room) {\n        occupants.push(ha.states[i].attributes.friendly_name.replace(\" Location\", \"\"));\n        //The push bit adds the friendly name of any persons location input select which matches the state (ie Lounge)\n        //The replace bit clears the Location part from the friendly name leaving just the initials.         \n    }\n});\n\n//the join function creates '+' separated string from the array.\noccupants = occupants.join(' + ');\n\n//If no BLE occupation is detected but Generic Room Presence is detected (motion/bed/TV etc.), set the room to Someone\n//Otherwise with no BLE or Generic Presence, set to Empty        \nif (occupants === '') {\n    if (flow.get(generic_room_presence) === true) {\n        occupants = \"Someone\";\n    } else {\n        occupants = \"Empty\";\n    }\n}\n\nmsg.payload =  { data: { \"option\": occupants} };\n\n//Output to top channel by default but to bottom channel if room will be set to Empty\nif (occupants == \"Empty\") {\n    return [ null, msg ];\n} else {\n    return [ msg, null ];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3580,"wires":[["86ab9e9.125176"],["ed53d591.4d9b78"]]},{"id":"9088033a.0f72d","type":"function","z":"4cb70764.d137e8","name":"Lounge Presence","func":"//code modified from: https://community.home-assistant.io/t/examples-for-using-the-new-get-entities-node/85777/4\nconst globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst groupEntity = ha.states['group.person_locations'];\nlet occupants = [];\n\n//*******Just change the room below to whichever room the flow is for*******\n\nroom = \"Lounge\"; //Room should be whatever input_select.*room*_presence would be set to\n                      //eg Bedroom or Lounge (capitalised and with a space if required)\n//Next, set up the variable that is the flow variable indicating generic room presence - this is checked further down\ngeneric_room_presence = room.replace(\" \", \"_\") + \"_generic_presence\";\n\ngroupEntity.attributes.entity_id.forEach(i => {\n    if(ha.states[i].state === room) {\n        occupants.push(ha.states[i].attributes.friendly_name.replace(\" Location\", \"\"));\n        //The push bit adds the friendly name of any persons location input select which matches the state (ie Lounge)\n        //The replace bit clears the Location part from the friendly name leaving just the initials.         \n    }\n});\n\n//the join function creates '+' separated string from the array.\noccupants = occupants.join(' + ');\n\n//If no BLE occupation is detected but Generic Room Presence is detected (motion/bed/TV etc.), set the room to Someone\n//Otherwise with no BLE or Generic Presence, set to Empty        \nif (occupants === '') {\n    if (flow.get(generic_room_presence) === true) {\n        occupants = \"Someone\";\n    } else {\n        occupants = \"Empty\";\n    }\n}\n\nmsg.payload =  { data: { \"option\": occupants} };\n\n//Output to top channel by default but to bottom channel if room will be set to Empty\nif (occupants == \"Empty\") {\n    return [ null, msg ];\n} else {\n    return [ msg, null ];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3660,"wires":[["c00e2c02.3313a"],["b36df4f8.a17438"]]},{"id":"e4ccb84c.298af8","type":"function","z":"4cb70764.d137e8","name":"Bathroom Presence","func":"//code modified from: https://community.home-assistant.io/t/examples-for-using-the-new-get-entities-node/85777/4\nconst globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst groupEntity = ha.states['group.person_locations'];\nlet occupants = [];\n\n//*******Just change the room below to whichever room the flow is for*******\n\nroom = \"Bathroom\"; //Room should be whatever input_select.*room*_presence would be set to\n                      //eg Bedroom or Lounge (capitalised and with a space if required)\n//Next, set up the variable that is the flow variable indicating generic room presence - this is checked further down\ngeneric_room_presence = room.replace(\" \", \"_\") + \"_generic_presence\";\n\ngroupEntity.attributes.entity_id.forEach(i => {\n    if(ha.states[i].state === room) {\n        occupants.push(ha.states[i].attributes.friendly_name.replace(\" Location\", \"\"));\n        //The push bit adds the friendly name of any persons location input select which matches the state (ie Lounge)\n        //The replace bit clears the Location part from the friendly name leaving just the initials.         \n    }\n});\n\n//the join function creates '+' separated string from the array.\noccupants = occupants.join(' + ');\n\n//If no BLE occupation is detected but Generic Room Presence is detected (motion/bed/TV etc.), set the room to Someone\n//Otherwise with no BLE or Generic Presence, set to Empty        \nif (occupants === '') {\n    if (flow.get(generic_room_presence) === true) {\n        occupants = \"Someone\";\n    } else {\n        occupants = \"Empty\";\n    }\n}\n\nmsg.payload =  { data: { \"option\": occupants} };\n\n//Output to top channel by default but to bottom channel if room will be set to Empty\nif (occupants == \"Empty\") {\n    return [ null, msg ];\n} else {\n    return [ msg, null ];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":3740,"wires":[["7fc6dc30.43cb14"],["59324c27.e01084"]]},{"id":"bff440b.792d5c","type":"comment","z":"4cb70764.d137e8","name":"Note","info":"These flow variable keep track of whether Generic Room Presence is observed in a room. They are used later in Step 4 to set the presence in each individual room.\n\nThe naming convention should be followed carefully.\nThe variable should start with:\n\nThe name of the room (including capitals) and underscore separated if required (eg \"Bedroom\" or \"Lounge\"). \nThis should be followed by \"_generic_presence\"\n\nSo for the bedroom the flow variable would be \"Bedroom_generic_presence\"\nFor the Lounge the flow variable would be \"Lounge_generic_presence\"","x":730,"y":1540,"wires":[]},{"id":"9c82cae6.054278","type":"comment","z":"4cb70764.d137e8","name":"Note","info":"The sensors that report BLE room presence that I use are named sensor.*person*_esp32_mqtt_room.\neg: sensor.claire_esp32_mqtt_room\n\nThis is important since it is used to set the msg.person variable in the following change node. The \"sensor.\" and \"_esp32_mqtt_room\" parts are stripped from the incoming entity name allowing msg.person just to be set to the initials of the relevant person.\n\nThese initials should also match the corresponding input select (eg input_select.claire_location) for the person.","x":170,"y":2840,"wires":[]},{"id":"f7223927ed89e975","type":"debug","z":"4cb70764.d137e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1680,"wires":[]},{"id":"3b4a3c1528be28f2","type":"debug","z":"4cb70764.d137e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2080,"y":1920,"wires":[]},{"id":"a5b4467a8a22666a","type":"debug","z":"4cb70764.d137e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1140,"y":2380,"wires":[]},{"id":"a9e7482b7d508ee2","type":"debug","z":"4cb70764.d137e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":80,"wires":[]},{"id":"a69cf3a9dc2341ac","type":"debug","z":"4cb70764.d137e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":2780,"wires":[]},{"id":"c964194d.7ad5e8","type":"ha-api","z":"5747a72c39655606","name":"areas","server":"217cf5ca.19376a","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/area_registry/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"areas","propertyType":"msg","value":"","valueType":"results"}],"x":390,"y":320,"wires":[["4b011603.4c27f8"]]},{"id":"832ebec4.0d4a4","type":"inject","z":"5747a72c39655606","name":"Manual Update","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":196,"y":320,"wires":[["c964194d.7ad5e8"]]},{"id":"4b011603.4c27f8","type":"ha-api","z":"5747a72c39655606","name":"devices","server":"217cf5ca.19376a","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/device_registry/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"devices","propertyType":"msg","value":"","valueType":"results"}],"x":530,"y":320,"wires":[["4be8b708.430ec8"]]},{"id":"4be8b708.430ec8","type":"ha-api","z":"5747a72c39655606","name":"entities","server":"217cf5ca.19376a","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/entity_registry/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"entities","propertyType":"msg","value":"","valueType":"results"}],"x":674,"y":320,"wires":[["59e18ea8.03287"]]},{"id":"2538006.71ef4","type":"debug","z":"5747a72c39655606","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":320,"wires":[]},{"id":"81c8e84.471e218","type":"server-events","z":"5747a72c39655606","name":"","server":"217cf5ca.19376a","version":1,"event_type":"state_changed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":184,"y":416,"wires":[["6e177280.669dec"]]},{"id":"59e18ea8.03287","type":"function","z":"5747a72c39655606","name":"","func":"const entities = {};\n\nmsg.entities.forEach(e => {\n    if(!e.device_id) return;\n    \n    const device = msg.devices.find(d => d.id === e.device_id);\n    const area = msg.areas.find(a => a.area_id === device.area_id);\n    if(area) {\n        entities[e.entity_id] = {\n            area_id: area.area_id,\n            name: area.name\n        };\n    }\n});\n\nmsg.payload = entities;\nmsg.update = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["2538006.71ef4","6e177280.669dec"]]},{"id":"6e177280.669dec","type":"function","z":"5747a72c39655606","name":"set area","func":"if(msg.update) {\n    node.status({fill:\"green\", shape: \"dot\", text: \"Area Data Loaded\", })\n    context.set(\"data\", msg.payload);\n    return;\n}\nconst data = context.get(\"data\");\n\nif(!data) {\n    node.status({fill:\"red\", shape: \"ring\", text: \"No Area Data\", })\n    return;\n}\n\nconst area = data[msg.payload.entity_id];\nif(!area) return;\n\nmsg.area = area.name.toLowerCase();     \nnode.status({text: msg.area});\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":416,"wires":[["86100cd0.de8c5"]]},{"id":"582c98e0.5cd328","type":"debug","z":"5747a72c39655606","name":"Kitchen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":704,"y":400,"wires":[]},{"id":"b60ead00.b4aaa","type":"debug","z":"5747a72c39655606","name":"Bedroom","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":704,"y":448,"wires":[]},{"id":"86100cd0.de8c5","type":"switch","z":"5747a72c39655606","name":"","property":"area","propertyType":"msg","rules":[{"t":"eq","v":"kitchen","vt":"str"},{"t":"eq","v":"bedroom","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":532,"y":416,"wires":[["582c98e0.5cd328"],["b60ead00.b4aaa"]]},{"id":"94d81549.f88148","type":"server-events","z":"5747a72c39655606","name":"On Connect","server":"217cf5ca.19376a","version":1,"event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":154,"y":272,"wires":[["72ef46c0.dbbce8"]]},{"id":"72ef46c0.dbbce8","type":"switch","z":"5747a72c39655606","name":"connected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":346,"y":272,"wires":[["c964194d.7ad5e8"]]},{"id":"47aad143.f438c","type":"server-events","z":"5747a72c39655606","name":"entity_registry_updated","server":"217cf5ca.19376a","version":1,"event_type":"entity_registry_updated","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":184,"y":128,"wires":[["c7d0582b.715958"]]},{"id":"58d3bcdb.d39014","type":"server-events","z":"5747a72c39655606","name":"device_registry_updated","server":"217cf5ca.19376a","version":1,"event_type":"device_registry_updated","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":176,"wires":[["c7d0582b.715958"]]},{"id":"8a9f192c.425718","type":"server-events","z":"5747a72c39655606","name":"area_registry_updated","server":"217cf5ca.19376a","version":1,"event_type":"area_registry_updated","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":184,"y":224,"wires":[["c7d0582b.715958"]]},{"id":"c7d0582b.715958","type":"trigger","z":"5747a72c39655606","name":"Update at most every 10 secs","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":486,"y":176,"wires":[["c964194d.7ad5e8"]]},{"id":"2bdd6fb7.15743","type":"server-state-changed","z":"5747a72c39655606","name":"","server":"217cf5ca.19376a","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.button_bedroom","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":380,"y":560,"wires":[["c2a9ffac.1e05d"]]},{"id":"c2a9ffac.1e05d","type":"ha-get-entities","z":"5747a72c39655606","name":"","server":"217cf5ca.19376a","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"sensor.phon_charging,sensor.watch_charging,sensor.kaylas_phone_charging,lock.lock","valueType":"str"},{"property":"state","logic":"includes","value":"no,unlocked","valueType":"str"}],"output_type":"array","output_empty_results":true,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":654,"y":560,"wires":[["2950c181.1ef95e"]]},{"id":"2950c181.1ef95e","type":"function","z":"5747a72c39655606","name":"","func":"let lockFD = null;\nlet PC = false;\nlet WC = false;\nlet KP = false;\nlet FD = false;\n\nmsg.payload.forEach(entity => {\n    switch(entity.entity_id) {\n        case \"sensor.phone_charging\":\n            PC = true;\n            break;\n        case \"sensor.watch_charging\":\n            WC = true;\n            break;\n        case \"sensor.kaylas_phone_charging\":\n            KP = true;\n            break;\n        case \"lock.lock\":\n            FD = true;\n            lockFD = { payload: true };\n            break;\n    }\n    \n});\n\nlet message = \"Goodnight.\";\nif(PC && WC) {\n    message = `${message} Dont forget to charge your phone and watch.`;\n} else {\n    message = `${message} Dont forget to charge your ${PC ? 'phone' : 'watch'}.`\n}\nif(KP) {\n    message = `${message} Remind Kayla to charge her phone${PC ? ' too':''}.`;\n}\nif(FD) {\n    message = `${message} The door is now locked.`\n}\nmsg.payload = message;\nreturn [msg, lockFD];\n","outputs":2,"noerr":0,"x":794,"y":560,"wires":[["ca4a5643.9bf0d8"],["64374b0e.f72394"]]},{"id":"ca4a5643.9bf0d8","type":"cast-to-client","z":"5747a72c39655606","name":"","url":"","contentType":"","message":"","language":"en","ip":"192.168.1.29","port":"","volume":"40","x":978,"y":560,"wires":[[]]},{"id":"64374b0e.f72394","type":"api-call-service","z":"5747a72c39655606","name":"lock door","server":"217cf5ca.19376a","version":3,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.lock_door","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":948,"y":608,"wires":[[]]}]