node-red/.flows.json.backup
[{"id":"19d4be8b.97dc01","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"8659a44d.559668","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"37ee4e41.299952","type":"server","name":"Home Assistant","addon":true},{"id":"13d28a72.b0d4f6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e2ed0ff3.95ad2","type":"server","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"d0cb210d.98634","type":"server","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"119fdce6.eedcf3","type":"trigger-state","z":"19d4be8b.97dc01","name":"Kitchen motion","server":"37ee4e41.299952","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"entity_id","targetValue":"sun.sun","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"x":100,"y":220,"wires":[["b8d7bcf4.5c5"],[]]},{"id":"fdf41aac.8f2c78","type":"trigger-state","z":"19d4be8b.97dc01","name":"Kitchen lights","server":"37ee4e41.299952","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.kitchen","entityidfiltertype":"regex","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":310,"y":260,"wires":[["474e24f4.275c8c"],[]]},{"id":"72e9cd3d.921124","type":"api-call-service","z":"19d4be8b.97dc01","name":"Turn on lights","server":"37ee4e41.299952","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":180,"wires":[["aa4fd87a.ad1478"]]},{"id":"bb6a0469.33bec8","type":"api-call-service","z":"19d4be8b.97dc01","name":"Turn off lights","server":"37ee4e41.299952","version":"1","debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.kitchen_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":220,"wires":[["8034a5d0.0ac4f8"]]},{"id":"85936a98.9bfad8","type":"state-machine","z":"19d4be8b.97dc01","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-detected","motion-on","motion-off","off","on"],"transitions":[{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"off","from":"*","to":"off"},{"name":"on","from":"*","to":"on"},{"name":"switch","from":"off","to":"switch"},{"name":"switch","from":"on","to":"switch"},{"name":"switch","from":"switch","to":"switch"},{"name":"switch","from":"motion-on","to":"switch"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"}],"x":660,"y":220,"wires":[["fab1d185.1cc9","3f2de247.b1c3fe","f9190407.64ebf8","2054d199.3d8b4e"]]},{"id":"474e24f4.275c8c","type":"change","z":"19d4be8b.97dc01","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[["85936a98.9bfad8"]]},{"id":"b8d7bcf4.5c5","type":"change","z":"19d4be8b.97dc01","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["85936a98.9bfad8"]]},{"id":"2a856fab.0e8b2","type":"stoptimer","z":"19d4be8b.97dc01","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"pause detection","x":1180,"y":340,"wires":[["39d63357.cf7c1c"],[]]},{"id":"39d63357.cf7c1c","type":"api-current-state","z":"19d4be8b.97dc01","name":"Light state","server":"37ee4e41.299952","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"group.kitchen_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1370,"y":220,"wires":[["1563538c.22805c"]]},{"id":"641ee4ef.37447c","type":"change","z":"19d4be8b.97dc01","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":300,"wires":[["29855de2.684442"]]},{"id":"70a16eef.b2aa8","type":"change","z":"19d4be8b.97dc01","name":"motion-on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":180,"wires":[["1563538c.22805c"]]},{"id":"1750840a.a84dfc","type":"change","z":"19d4be8b.97dc01","name":"motion-off","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion-off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":280,"wires":[["1563538c.22805c"]]},{"id":"8034a5d0.0ac4f8","type":"stoptimer","z":"19d4be8b.97dc01","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1210,"y":220,"wires":[["39d63357.cf7c1c"],[]]},{"id":"aa4fd87a.ad1478","type":"stoptimer","z":"19d4be8b.97dc01","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"pause","x":1210,"y":180,"wires":[["70a16eef.b2aa8"],[]]},{"id":"dede35e9.6bdc58","type":"inject","z":"19d4be8b.97dc01","name":"steady-state","props":[{"p":"payload","v":"stop","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":1190,"y":380,"wires":[["39d63357.cf7c1c","2a856fab.0e8b2"]]},{"id":"e6e44525.044148","type":"inject","z":"19d4be8b.97dc01","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"simulate","payloadType":"str","x":120,"y":260,"wires":[["b8d7bcf4.5c5"]]},{"id":"fab1d185.1cc9","type":"switch","z":"19d4be8b.97dc01","name":"motion-detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":860,"y":180,"wires":[["72e9cd3d.921124"]]},{"id":"3f2de247.b1c3fe","type":"switch","z":"19d4be8b.97dc01","name":"motion-on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":260,"wires":[["29855de2.684442"]]},{"id":"efd52854.a31d78","type":"link in","z":"19d4be8b.97dc01","name":"kitchen state machine","links":["1563538c.22805c"],"x":515,"y":440,"wires":[["85936a98.9bfad8"]]},{"id":"1563538c.22805c","type":"link out","z":"19d4be8b.97dc01","name":"kitchen state machine","links":["efd52854.a31d78"],"x":1515,"y":440,"wires":[]},{"id":"f9190407.64ebf8","type":"switch","z":"19d4be8b.97dc01","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":340,"wires":[["641ee4ef.37447c","2a856fab.0e8b2"]]},{"id":"2054d199.3d8b4e","type":"switch","z":"19d4be8b.97dc01","name":"motion-off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":220,"wires":[["bb6a0469.33bec8"]]},{"id":"29855de2.684442","type":"stoptimer","z":"19d4be8b.97dc01","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1180,"y":260,"wires":[["1750840a.a84dfc"],[]]},{"id":"a5c6ab1.3417d58","type":"change","z":"8659a44d.559668","name":"Stop","rules":[{"t":"set","p":"reset","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":400,"wires":[["622fa414.459bac","b5b32991.b74758"]]},{"id":"775900fe.254e9","type":"api-call-service","z":"8659a44d.559668","name":"Set the lighting mode to motion","server":"37ee4e41.299952","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.lounge_state","data":"{\"option\":\"Motion\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1331,"y":144,"wires":[[]]},{"id":"b5b32991.b74758","type":"api-call-service","z":"8659a44d.559668","name":"Set the lighting mode to idle","server":"37ee4e41.299952","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.lounge_state","data":"{\"option\":\"Idle\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":400,"wires":[[]]},{"id":"902b8ea5.f3619","type":"api-current-state","z":"8659a44d.559668","name":"What is the lighting mode?","server":"37ee4e41.299952","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.lounge_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":443,"y":171,"wires":[["68b3b14f.f06d5"]]},{"id":"5f34c8f5.f9c588","type":"server-state-changed","z":"8659a44d.559668","name":"Lighting mode changes","server":"37ee4e41.299952","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.lounge_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":360,"wires":[["8c2cd93e.a7fa18"]]},{"id":"68b3b14f.f06d5","type":"switch","z":"8659a44d.559668","name":"Idle or Motion?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Motion","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":683,"y":171,"wires":[["b6202103.9866a"],["6ef58323.87ee8c","922edda6.5d905"]]},{"id":"b6202103.9866a","type":"api-current-state","z":"8659a44d.559668","name":"What's the current location mode?","server":"37ee4e41.299952","version":1,"outputs":2,"halt_if":"Away","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.location_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":983,"y":171,"wires":[["775900fe.254e9","4e1f42ea.1b23dc"],[]]},{"id":"a516e2f7.6524d","type":"trigger-state","z":"8659a44d.559668","name":"Motion detected in the lounge","server":"37ee4e41.299952","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.lounge_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"},{"targetType":"entity_id","targetValue":"input_select.lounge_state","propertyType":"current_state","comparatorType":"does_not_include","comparatorValueDatatype":"list","comparatorValue":"Locked, Manual","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":180,"wires":[["902b8ea5.f3619"],[]]},{"id":"8c2cd93e.a7fa18","type":"switch","z":"8659a44d.559668","name":"Locked or manual?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Manual","vt":"str"},{"t":"eq","v":"Locked","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":360,"wires":[["908d6d1f.bdc0b"],["a5c6ab1.3417d58"]]},{"id":"b687273f.c38968","type":"trigger-state","z":"8659a44d.559668","name":"Motion is no longer detected in the lounge","server":"37ee4e41.299952","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.lounge_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"},{"targetType":"entity_id","targetValue":"input_select.lounge_state","propertyType":"current_state","comparatorType":"does_not_include","comparatorValueDatatype":"list","comparatorValue":"Manual, Locked","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":160,"y":280,"wires":[["922edda6.5d905"],[]]},{"id":"4e1f42ea.1b23dc","type":"api-call-service","z":"8659a44d.559668","name":"Turn on the lounge light","server":"37ee4e41.299952","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lounge","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1313,"y":191,"wires":[[]]},{"id":"cdddba6a.bd6a08","type":"api-call-service","z":"8659a44d.559668","name":"Turn off the lounge light","server":"37ee4e41.299952","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lounge","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":340,"wires":[[]]},{"id":"922edda6.5d905","type":"change","z":"8659a44d.559668","name":"Duration","rules":[{"t":"set","p":"duration","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[["622fa414.459bac"]]},{"id":"908d6d1f.bdc0b","type":"change","z":"8659a44d.559668","name":"Duration","rules":[{"t":"set","p":"duration","pt":"msg","to":"120","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":340,"wires":[["622fa414.459bac"]]},{"id":"622fa414.459bac","type":"function","z":"8659a44d.559668","name":"exponential timer","func":"let timeout = context.get(\"timer\");\nlet timeoutId = context.get(\"timeoutId\");\nclearTimeout(timeoutId);\n \nvar min = 120;\nconst max = 900;\n \nif(msg.reset) {\n    context.set(\"timer\",null);\n    node.status({text: 'reset'});\n    return;\n}\n \nif(msg.duration) {\n    var duration = parseInt(msg.duration);\n    if(duration > 0)\n    {\n        min = duration;\n    }\n}\n\nif(timeout) {\n    timeout = Math.min(Math.round(timeout * 1.2), max);\n} else {\n    timeout = min;\n}\n \ntimeoutId = setTimeout(() => {\n    context.set(\"timer\",null);\n    node.status({});\n    node.send(msg);\n    node.done();\n}, timeout * 1000);\n \ncontext.set(\"timer\", timeout);\ncontext.set(\"timeoutId\", timeoutId);\nnode.status({text: timeout});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":340,"wires":[["cdddba6a.bd6a08","b5b32991.b74758"]]},{"id":"6ef58323.87ee8c","type":"counter","z":"8659a44d.559668","name":"","init":"1","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":860,"y":80,"wires":[["974fc81a.620418"]]},{"id":"974fc81a.620418","type":"debug","z":"8659a44d.559668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":80,"wires":[]},{"id":"9b7bfc88.24198","type":"inject","z":"8659a44d.559668","name":"Stop Timer","props":[{"p":"reset","v":"reset","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":440,"y":400,"wires":[["a5c6ab1.3417d58"]]}]